{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <h1 class="title">Index</h1>
  <p class="important">
    Welcome on my awesome homepage.
  </p>
  <p><h3>Pages list</h3>
    <ul>
        <li><a href="/login">login</a></li>
        <li><a href="/hello">hello</a></li>
        <li><a href="/user/userTest">user</a></li>
        <li><a href="/path/test">path</a></li>
    </ul>
  </p>
{% endblock %}